/* imports */
@import 'variables';
/* imports */

/* about style */
section.about {
    padding: $sec_padding;

    .title {
        text-align: center;
        margin-bottom: 50px;

        h2 {
            color: #414141;
            font-size: 45px;
            font-weight: 600;
            position: relative;
            text-align: center;
            width: fit-content;
            margin: auto;
            display: flex;
            justify-content: center;

            &::after {
                content: "";
                position: absolute;
                left: auto;
                bottom: -10px;
                width: 40px;
                height: 5px;
                background-color: $main_color;
            }
        }
    }

    .about-text {
        .about-box {
            h3 {
                font-size: 32px;

                .diff_color {
                    color: #3C57A6;
                }
            }

            p {
                font-size: 20px;
            }

            &:first-child {
                margin-bottom: 40px;
            }
        }
    }

    .about-image {
        position: relative;

        .img2 {
            position: absolute;
            top: 20px;
            left: -20px;
        }
    }
}

/* about style */